.main-page{
    position: relative;
    display: inline-block;
    color: $selection-color;
    
    @media screen and (max-width: $before-tablet){
        padding-bottom: 8px;
    }
    @media screen and (min-width: $tablet){
        padding-bottom: 32px;
    }

    
    &::after{
        position: absolute;
        
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $selection-color;
    }   
}