/* header контакты */
.contact-list{
    @media screen and (min-width: $desktop){
        display: flex;
        margin-left: auto;

        .item:not(:last-child){
            margin-right: 50px;
        }
     }
    
 }

.contact-list__link{
    display: inline-flex;
    color: $paragraph-color;
    transition: color 250ms $timing-cubic;

    &:first-child{
        @media screen and (min-width: $mobile){
            margin-bottom: 16px;
        }

        @media screen and (min-width: $tablet){
            margin-bottom: 10px;
        }

        @media screen and (min-width: $desktop){
            margin-bottom: 0;
        }
    }
    
    &:hover,
    &:focus{
    color: $selection-color;
    }
}

.contact-list__icon{
    align-items: center;
    width: 16px;
    height: 14px;
    margin-right: 10px;
    fill: $icon-color;
    transition: fill 250ms $timing-cubic;

    .contact-list__link:hover &,
    .contact-list__link:focus &{
        fill: $selection-color;
    }
  }
