/* секция "чем занимаемся" */


.features-section{
    padding-bottom: 94px;   

    @media screen and (max-width: $before-desktop){
        display: none;
    }
    
    .features-list{
        display: flex;
    }
}

.features-list__item{
    position: relative;
    width: calc((100% - 60px) /3);
    height: 294px;
    margin-right: 30px;
    
    &:last-child{
    margin-right: 0;
    }

    .feature-title{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        color: $white-color;
        background-color: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
    }
}


