.page-footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $sections-background;
    color: $white-color;
    text-align: center;

    @media screen and (min-width: $desktop){
        text-align: left;
    }

    .footer{
        @media screen and (min-width: $tablet){
            display:flex;
            justify-content: space-evenly;
            align-items: baseline; 
            flex-wrap: wrap;
        }
    }
}

.social{
    padding-bottom: 60px;
    
    @media screen and (min-width: $desktop){
        margin-right: 93px;
        padding-bottom: 0px;
    }
    

    h2{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}


